################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularSecurityStartingSample/PtcApi/.vs/PtcApi/v15
/AngularSecurityStartingSample/PtcApi/.vscode
